* {
    font-family: 'Open Sans', sans-serif;
}
header .top-texto{
    background: #08938a;
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
header .header-content{
margin: 10px 0px;
}
header .header-content img{
    width: 350px;
    float: left;
    margin: 0px 20px;
}
header .menus-content {
    color: #024fa1;
    text-align: center;
    height: 90px;
}
 header .menus-content .menu-content{
    float: left;
    margin: 30px 1.0%;
     min-height: 400px;
}
body{
    margin: 0px;
    padding: 0px;
}
body main .slider-home{
    background: url("./img/medico.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 800px;
}
body main .slider-bg{
    background: url("./img/bg.png");
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
body main .slider-bg .slider-content{
    width: 1200px;
    margin: 0 auto;
    display: table;
}
body main .slider-bg .slider-content h2{
    color: #ffffff;
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
    margin-top: 60px;
}
body main .slider-bg .slider-content .catalogo{
    background: #ffffff;
    height: 500px;
    width: 800px;
    border-radius: 10px;
    border: 5px solid #28A58A;
    margin: 0px 300px;
}
body main .slider-bg .slider-content .catalogo-items{
    color: #2F7DBA;
    width: 395px;
    text-align: center;
    float: left;

}
body main .slider-bg .slider-content .barrinha{
    margin: 30px 0px;
    width: 5px;
    height: 220px;
    background: #28A58A;
    float: left;
}
body main .slider-bg .slider-content .catalogo-items .texto-item{
    font-weight: 800;
    font-size: 22px;
    margin: 30px 20px 0px 20px;
}
body main .slider-bg .slider-content .catalogo-items .texto-items{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 100;
}
body main .slider-bg .slider-content .catalogo-items .texto-item-value{
    font-size: 35px;
}
body main .slider-bg .slider-content .catalogo-items .texto-item-value .text-g{
    font-size: 90px;
    font-weight: 800;
}
body main .slider-bg .slider-content .catalogo-items button{
    margin: 20px 0px;
    border-radius: 10px;
    color: #ffffff;
    background: #2F7DBA;
    width: 230px;
    height: 40px;
    border: none;
    transition: linear 0.2s;
}
body main .slider-bg .slider-content .catalogo-items button:hover {
    background: #28A58A;
}
body main .slider-bg .slider-content .cartoes-content{
    text-align: center;
    color: #5f5f5f;
    margin: 20px 0px;
}
body main .slider-bg .slider-content .cartoes-content .parcelamento{
    margin:5px
}
body main .slider-bg .slider-content .cartoes-content .img-catalogo{
    width: 400px;
    vertical-align: middle;
}

body main .slider-bg .btn-agenda{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background: #28A58A;
    border-radius: 8px;
    border: 2px solid #ffffff;
    width: 500px;
    height: 60px;
    margin: 20px 450px;
}
body main .page-home {
    height: auto;
}
body main .page-home .page-content{
    width: 1200px;
    margin: 0 auto;
    display: table;
    background: #ffffff;
}
body main .page-home .page-content .page-items {
    width: 590px;
    color: #ffffff;
    float: left;

}
body main .page-home .page-content .page-items .section-info{
    display: table;
}
body main .page-home .page-content .page-items .section-info .img-section-info{
    float: left;
    width: 50px;
    height: auto;
    margin: 13px 5px 30px 0px;
}
body main .page-home .page-content .page-items .section-info .section-info-text{
    float: left;
    width: 450px;
}
body main .page-home .page-items .img-bg {
    margin-top: 50px;
    height: 600px;

}
body main .page-home .page-content .page-items .texto-subtitle{
    color: #2F7DBA;
    font-weight: 800;
    margin: 5px;
    font-size: 18px;
}
body main .page-home .page-content .page-items .texto-description{
    color: #5f5f5f;
    font-weight: 400;
    margin: 5px;
}
body main .page-home .page-content .page-items .texto-description-sub{
    color: #5f5f5f;
    font-weight: 800;
    margin: 20px;
    text-align: center;
}

body main .page-home .page-content .page-items .texto-title {
    color: #2F7DBA;
    font-weight: 800;
    font-size: 36px;
    margin: 60px 0px 20px 10px;
}
body main .page-home .page-items button{
    background:#2F7DBA;
    color: #ffffff;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    border-radius: 8px;
    width: 500px;
    height: 70px;
    margin: 0px 50px 10px 50px;
    transition: linear 0.2s;
}
body main .page-home .page-items button:hover{
    background: #28A58A;
}
body main .page-home .page-items .img-button{
    height: 35px;
    width: 40px;
    margin-right: 8px;
}
body main .page-home .page-content .page-items .section-info-mapa .img-section-info{
    float: left;
    width: 50px;
    height: auto;
    margin: 10px 5px 50px 10px;
}
body main .page-home .page-content .page-items .section-info-mapa .section-info-text{
    float: left;
    margin-top: 10px;
    width: 450px;
}
body main .page-home .page-items .section-info-mapa{
    margin-top: 100px;
}
body main .servicos-home{
    background: url("./img/home3.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 800px;
}
body main .servicos-home .servicos-content{
    width: 1200px;
    margin: 0 auto;
    display: table;

}
body main .servicos-home .servicos-content .servicos-title{
    color: #ffffff;
    text-align: center;
}
body main .servicos-home h2{
    font-size: 34px;
    font-weight: 800;
}
body main .servicos-home .servicos-content .servicos-title-description{
    font-size: 20px;
    font-weight: lighter;
}
body main .servicos-home .servicos-content .catalogo-servicos{
    width: 1200px;
    display: table;
    margin-top: 25px;
}
body main .servicos-home .servicos-content .catalogo-servicos .servicos-description{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    width: 260px;
    padding: 10px 20px;
    float: left;
}
body main .servicos-home .servicos-content .catalogo-servicos a{
    color: white;
    text-decoration: none;
}

body main .servicos-home .servicos-content .catalogo-servicos .text-bold{
    font-weight: bold;

}
body main .servicos-home .servicos-content .catalogo-servicos .subtitle-column {
    font-size: 18px;
    font-weight: 800;
}
body main .servicos-home .servicos-content .servicos-subtitle{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: 50px 0px;
}
body main .servicos-home .servicos-content .catalogo-img{
    width: 1200px;
    display: table;
    margin: 20px 0px 0px 20px;
}

body main .servicos-home .servicos-content .catalogo-img .img-home{
    height: auto;
    width: 360px;
    float: left;
    margin:0px 10px;
    border: 5px solid #ffffff;
}
body main .servicos-home .servicos-content .btn-config{
    width: 1200px;
    display: table;
    margin: 0 auto;
}
body main .servicos-home .servicos-content .btn-config .btn-conhecer{
    border-radius: 100px;
    color:#024fa1;
    background:#ffffff;
    border: none;
    height: 40px;
    width: 140px;
    font-size: 16px;
    margin: 20px 0px 0px 550px;
    cursor: pointer;
}
body main .convenios-container{
    height: 800px;
    background: #ffffff;
}
body main .convenios-container .convenios-content{
    width: 1200px;
    margin: 0 auto;
    display: table;

}
body main .convenios-container .convenios-content .convenio-items{
    height: 500px;
    width: 900px;
    margin: 0px 300px;

}
body main .convenios-container .convenios-content h2{
    color:#2F7DBA;
    text-align: center;
    font-weight: 800;
    font-size: 28px;
    margin: 40px 0px 20px 0px;

}
body main .convenios-container .convenios-content .accordion{
    height: 50px;
    background: transparent;
    border-radius: 2px;
    text-align: left;
    cursor: pointer;
    border: 1px solid #D3D3D3;
    padding: 18px;
    width: 100%;
    transition: 0.4s;
    font-size: 16px;
    font-weight: lighter;
    color:#373f45;
}
.active, .accordion:hover {
    background: #ffffff;
}
body main .convenios-container .convenios-content .convenio-panel{
    color:#373f45;
    margin-left: 10px;
    font-size: 16px;
    font-weight: lighter;
    display: none;
    overflow: hidden;
}
body main .convenios-container .convenios-content .convenio-panel .convenio-links {
    text-decoration: none;
    color: #007bff;
}
body main .convenios-container .convenios-content .convenio-items .title-nossos-convenios{
      color:#2F7DBA;
      text-align: center;
      font-weight: 800;
      font-size: 38px;
  }
body main .convenios-container .convenios-content .convenio-items .convenios-imgs{
    width: 1200px;
    display: table;
    margin: 0 auto;
}
body main .convenios-container .convenios-content .convenio-items .convenios-imgs img {
    width: 180px;
    float: left;
    margin-top: 10px;
}
#btn-todos-convenios{
    border-radius: 20px;
    color: #ffffff;
    background: #2F7DBA;
    width: 230px;
    height: 40px;
    border: none;
    transition: linear 0.2s;
    margin: 20px 0px 0px 300px;
    cursor: pointer;
}
#btn-todos-convenios:hover{
    background: #28A58A;
}

footer{
    background: #2F7DBA;
}
footer .img-footer{
   width: 250px;
    margin-top: 40px;
}
footer .footer-content{
    width: 1200px;
    display: table;
    margin: 0 auto;
    height: 400px;
}
footer .footer-content .footer-div{
    margin-top: 100px;
    margin-bottom: 15px;
    width: 300px;
    float: left;
    color: #ffffff;
    vertical-align: middle;
}
footer div a {
    color: #ffffff;
    text-decoration: none;
}
footer .footer-content .footer-div-content{
    text-align: center;
    margin: 0px 0px 20px 20px;
}
footer .responsavel-tec{
    margin: 0px;
    text-align: center;
    color: #ffffff;
    padding: 20px 100px;
    background: #155e97;
}